<div class="w-full flex items-center flex-wrap xl:flex-nowrap pb-4 border-b border-t4">
    <div class="w-full lg:w-auto pb-2 lg:pb-0">
        <span class=" block text24">All Students</span>
    </div>
    <div class="w-full xl:w-auto flex items-center flex-wrap lg:flex-nowrap space-x-3  justify-end ml-auto">
        <button class="lg:order-2 btn_secondry group anim">
            <span class="icon_show icon-add text-xl xl:text-2xl text-primary group-hover:text-white"></span>
            <span class="text18 text-primary group-hover:text-white">Filter</span>
        </button>
        <button class="lg:order-3 btn_secondry group anim" (click)="importStudent($event)">
            <span class="icon_show icon-add text-xl xl:text-2xl text-primary group-hover:text-white"></span>
            <span class="text18 text-primary group-hover:text-white">Import</span>
        </button>
        <button class="lg:order-4 btn_primary group anim" (click)="addStudent()">
            <span class="icon_show icon-add text-xl xl:text-2xl text-white group-hover:text-primary"></span>
            <span class="text18 text-white group-hover:text-primary whitespace-nowrap">Add New Student</span>
        </button>
        <label for="main_search" class="lg:order-1 search sm:max-w-64 2xl:max-w-[350px] w-full ml-auto">
            <span class="icon_show icon-search text-primary text-xl xl:text-2xl"></span>
            <input class="outline-none bg-transparent text-dark text-14 md:text-16 2xl:text-18 w-full" type="search" name="search" placeholder="Search School" id="main_search" />
        </label>
    </div>
</div>
<div class="w-full py-1 lg:py-2 px-5 xl:px-7 bg-white rounded-md mt-4">
    <div class="flex flex-wrap 2xl:flex-nowrap -mx-2">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
          <mat-form-field appearance="outline" class="w-full dropdown">
            <mat-select placeholder="Select Class" [(ngModel)]="selClass">
              <mat-option *ngFor="let item of classList" [value]="item.value">{{item?.key}}</mat-option>
            </mat-select>
          </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Section" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of sectionList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Gender" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of genderList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Religion" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of religionList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Sort By" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of sortBy" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>          
        </div>
    </div>
</div>
<div class="w-full relative py-6 xl:py-8">
    <div class="w-full relative overflow-hidden">
        <div class="rounded-xl overflow-x-hidden lg:overflow-x-auto relative">
            <table mat-table matSort [dataSource]="couponData" class="mat-elevation-z8 h-full" >


                <!-- <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">
                    </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{''}} 
                        <input type="checkbox">
                    </td>
                </ng-container> -->

                <!-- Description Column -->
                <ng-container matColumnDef="photo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Photo </th>
                  <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails  flex items-center">  
                  <div class="w-8 xl:w-9 2xl:w-10 h-8 xl:h-9 2xl:h-10" *ngIf="element?.banner && element?.banner != ''">
                      <p-image src="./assets/images/user2.png" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true" (error)="imageOnError($event)"></p-image>
                  </div>
                  <!-- <div class="w-8 xl:w-9 2xl:w-10 h-8 xl:h-9 2xl:h-10" *ngIf="!element?.banner || element?.banner == ''">
                      <p-image [src]="constants.defaultImage" imageClass="w-full h-full object-cover rounded" styleClass="w-full h-full" [preview]="true" (error)="imageOnError($event)"></p-image>
                  </div> -->
                  <div class="text-justify ml-2">
                
                  </div>
                  </td>
                </ng-container>
    
                  <!-- Size Name Column -->
                  <ng-container matColumnDef="adms_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Adms No. </th>
                      <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'01'}} </td>
                  </ng-container>
    
                  <!-- Size Name Column -->
                  <ng-container matColumnDef="roll_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Roll No. </th>
                      <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'01'}} </td>
                  </ng-container>
      
                  <!-- Description Column -->
                  <ng-container matColumnDef="student_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Student Name </th>
                      <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'Prayag Savaliya'}} </td>
                  </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Class </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'1st - A'}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="father_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Father Name </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'Umeshbhai s.'}} </td>
                    </ng-container>

                     <!-- Description Column -->
                     <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Mobile No. </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'+91 9876543219'}} </td>
                    </ng-container>

                     <!-- Description Column -->
                     <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Gender </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'Male'}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Address </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{'Pal RTO, Surat -345678'}} </td>
                    </ng-container>
                  
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Status </th>
                      <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                          <p-inputSwitch [(ngModel)]="element.status"
                              (onChange)="changeStatusAction($event,element);"></p-inputSwitch>
                      </td>
                  </ng-container>
      
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Action </th>
                      <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                          <div class="flex space-x-3">
                              <span class="icon-edit block text-xl cursor-pointer hover:text-primary anim" (click)="editStudent($event,element)"></span>
                              <span class="block icon-delete text-xl cursor-pointer text-error anim" (click)="deleteSchool(element)"></span>
                          </div>
                      </td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="w-full"> 
                <div class="w-full flex justify-center p-5" *ngIf="couponData.filteredData.length == 0">
                    <div class="max-w-8xl w-full shadow-xl shadow-slate-100 rounded-2xl p-10 mx-auto bg-gray_2">
                      <strong class="block text-xl lg:text-2xl 2xl:text-4xl text-center"> No School Added </strong>
                      <span class="block lg:text-18 text-center text-t2"> Please add school first </span>
                    </div>
                </div>
            </div>
            <div class="w-full data_paginator flex justify-end mt-[-226px] pt-[250px] pb-2" *ngIf="couponData.filteredData.length > 0">
                <p-paginator [first]="1" [rows]="limit" (onPageChange)="getAllCouponList($event)"  [totalRecords]="totalCoupon" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
            </div>
            <div *ngIf="isTableLoading" class="absolute inset-0 w-full h-full flex items-center justify-center bg-slate-300/30 backdrop-blur-sm z-10">
                <div class="flex flex-col items-center justify-center">
                    <div
                        class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-primary border-t-transparent">
                    </div>
                    <p class="block text-base font-medium pt-2">Plase wait</p>
                </div>
            </div>
        </div>
    </div>
</div>
