<div class="w-full flex h-screen flex-wrap bg-t7 relative">
  <!--  [ngClass]="isSchool ? 'pl-4 2xl:pl-7':'px-4 2xl:px-7'" -->
  <aside class="absolute inset-y-0 left-0 h-screen w-[280px] pb-6 bg-white -translate-x-[110%] lg:translate-x-0 overflow-y-auto shadow-two z-[99] lg:z-10">
    <div class="z-[11] bg-white sticky w-full top-0">
      <a href="sm-dashboard" class="flex items-center 2xl:justify-center h-24 pl-1.5 2xl:pl-0">
        <img class="mx-auto" src="./assets/images/logo.png" alt="logo.png"/>
      </a>
    </div>
    <ul class="px-4 pt-5 anim space-y-1" (click)="checkRoutesPath()">
      <li [ngClass]="isSchool ? 'h-[180px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isSchool = !isSchool;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
          <span class="icon_show icon-sm-dashboard_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">School Management</span>
          <span class="inline-block ml-auto anim" [ngClass]="isSchool ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isSchool ? 'h-auto':'h-0'">
          <li [routerLink]="'sm-dashboard'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Dashboard</li>
          <li [routerLink]="'schools'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Schools</li>
          <li [routerLink]="'ac-year'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Academic Year</li>
          <li [routerLink]="'branch'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Branch</li>
        </ul>
      </li>
      <li class="h-[40px]">
        <div [routerLink]="'dashboard'" routerLinkActive="sidebar_link" class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isSchool = false;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
          <span class="icon_show icon-dashboard_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Dashboard</span>
        </div>
      </li>
      <li [ngClass]="isSchoolManagement ? 'h-[310px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isSchoolManagement = !isSchoolManagement;isSchool = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
          <span class="icon_show icon-academic-manage_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Academic Manage</span>
          <span class="inline-block ml-auto anim" [ngClass]="isSchoolManagement ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isSchoolManagement ? 'h-auto':'h-0'">
          <li [routerLink]="'class'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Class</li>
          <li [routerLink]="'section'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Section</li>
          <li [routerLink]="'subject'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Subject</li>
          <li [routerLink]="'student'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Student</li>
          <li [routerLink]="'teachers'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Teachers</li>
          <li [routerLink]="'timetable'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Timetable</li>
          <li [routerLink]="'attendance'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Attendance</li>
          <li [routerLink]="'homework'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Homework</li>
        </ul>
      </li>
      <li [ngClass]="isExam ? 'h-[145px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isExam = !isExam;isSchool = false;isSchoolManagement=false;isFees=false;isCommunication=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
          <span class="icon_show icon-examination_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Examination</span>
          <span class="inline-block ml-auto anim" [ngClass]="isExam ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isExam ? 'h-auto':'h-0'">
          <li [routerLink]="'exams'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Exams</li>
          <li [routerLink]="'create-timetable'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Create Timetable</li>
          <li [routerLink]="'marks'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Marks</li>
        </ul>
      </li>
      <li [ngClass]="isFees ? 'h-[120px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isFees = !isFees;isSchool = false;isSchoolManagement=false;isExam=false;isCommunication=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-fee-management_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Fee Management</span>
          <span class="inline-block ml-auto anim" [ngClass]="isFees ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isFees ? 'h-auto':'h-0'">
          <li [routerLink]="'fee-invoice'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Fee Invoice</li>
          <li [routerLink]="'payment'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Payment</li>
        </ul>
      </li>
      <li [ngClass]="isCommunication ? 'h-[145px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isCommunication = !isCommunication;isSchool = false;isSchoolManagement=false;isExam=false;isFees=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-communication_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Communication</span>
          <span class="inline-block ml-auto anim" [ngClass]="isCommunication ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isCommunication ? 'h-auto':'h-0'">
          <li [routerLink]="'notice'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Notice</li>
          <li [routerLink]="'meeting'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Meeting</li>
          <li [routerLink]="'complaint'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Complaint</li>
        </ul>
      </li>
      <li [ngClass]="isAdministrative ? 'h-[145px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isAdministrative = !isAdministrative;isSchool = false;isSchoolManagement=false;isExam=false;isFees=false;isAccounting=false;isCommunication=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-administrative_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Administrative</span>
          <span class="inline-block ml-auto anim" [ngClass]="isAdministrative ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isAdministrative ? 'h-auto':'h-0'">
          <li [routerLink]="'leave'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Leave</li>
          <li [routerLink]="'event'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Event</li>
          <li [routerLink]="'visitor'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Visitor</li>
        </ul>
      </li>
      <li [ngClass]="isAccounting ? 'h-[110px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isAccounting = !isAccounting;isSchool = false;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-accounting_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Accounting</span>
          <span class="inline-block ml-auto anim" [ngClass]="isAccounting ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isAccounting ? 'h-auto':'h-0'">
          <li [routerLink]="'income'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Income</li>
          <li [routerLink]="'expense'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Expense</li>
        </ul>
      </li>
      <li class="h-[40px]">
        <div [routerLink]="'certificate'" routerLinkActive="sidebar_link" class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isSchool = false;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isAccounting=false;isReports=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-certificate_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Certificate</span>
        </div>
      </li>
      <li [ngClass]="isReports ? 'h-[240px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isReports = !isReports;isSchool = false;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isAccounting=false;isAdmin=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-reports_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Reports</span>
          <span class="inline-block ml-auto anim" [ngClass]="isReports ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isReports ? 'h-auto':'h-0'">
          <li [routerLink]="'rpt-student'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Students Report</li>
          <li [routerLink]="'rpt-teachers'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Teachers Report</li>
          <li [routerLink]="'rpt-attendance'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Attendance Report</li>
          <li [routerLink]="'rpt-examination'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Examination Report</li>
          <li [routerLink]="'rpt-income'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Income Report</li>
          <li [routerLink]="'rpt-expense'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Expense Report</li>
        </ul>
      </li>
      <li [ngClass]="isAdmin ? 'h-[110px] active':'h-[40px]'" class="relative w-full cursor-pointer border-l-2 border-white overflow-hidden anim">
        <div class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isAdmin = !isAdmin;isSchool = false;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isReports=false;isSetting=false;">
          <span class="inline-block">
            <span class="icon_show icon-admin-user_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Admin Master</span>
          <span class="inline-block ml-auto anim" [ngClass]="isAdmin ? 'rotate-[180deg]':'rotate-0'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99635 14C9.41302 14 8.82969 13.775 8.38802 13.3334L2.95469 7.90003C2.71302 7.65837 2.71302 7.25837 2.95469 7.0167C3.19635 6.77503 3.59635 6.77503 3.83802 7.0167L9.27135 12.45C9.67135 12.85 10.3214 12.85 10.7214 12.45L16.1547 7.0167C16.3964 6.77503 16.7964 6.77503 17.038 7.0167C17.2797 7.25837 17.2797 7.65837 17.038 7.90003L11.6047 13.3334C11.163 13.775 10.5797 14 9.99635 14Z" fill="#585C8C"/> </svg>
          </span>
        </div>
        <ul class="w-full absolute inset-x-0 transition-all duration-300 z-10 pl-5 2xl:px-3 2xl:pl-3 space-y-1" [ngClass]="isAdmin ? 'h-auto':'h-0'">
          <li [routerLink]="'admin-user'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Admin Setup</li>
          <li [routerLink]="'role'" routerLinkActive="sidebar_link" class="text-14 p-1 pr-5 pl-7 hover:bg-t6 rounded-2xl text-primary font-medium cursor-pointer anim">Role & Permissions</li>
        </ul>
      </li>  
      <li>
        <div [routerLink]="'certificate'" routerLinkActive="sidebar_link" class="flex items-center w-full px-3 py-2.5 cursor-pointer toggle-button" (click)="isSetting = !isSetting;isSchool = false;isSchoolManagement = false;isExam=false;isFees=false;isCommunication=false;isAdministrative=false;isReports=false;isAdmin=false;">
          <span class="inline-block">
            <span class="icon_show icon-setting_fill text-primary text-xl xl:text-2xl"></span>
          </span>
          <span class="text-14 font-bold text-t2 inline-block ml-2">Settings</span>
        </div>
      </li>
    </ul>
  </aside>
  <div class="w-full h-full overflow-auto anim" [ngClass]="isShow ? 'ml-0 lg:ml-[280px]' : 'ml-0'">
    <div class="w-full" *ngIf="networkStatus">
      <header class="w-full sticky top-0 bg-white h-20 px-6 lg:px-8 2xl:px-12 py-2 flex items-center shadow-one z-50">
        <div class="flex items-center space-x-3">
          <span class="inline-block">
            <span class="icon_show icon-book_fill text-black text-3xl xl:text-4xl"></span>
          </span>
          <span class="text-18 lg:text-[20px] 2xl:text-24 text-dark font-extrabold block">Brillient Primary School</span>
        </div>
        <div class="relative mx-4 2xl:mx-6 cle_drop">
          <mat-form-field appearance="outline" class="w-full dropdown">
            <span class="icon-calendar_fill text24 font-normal text-primary"></span>
            <mat-select [(ngModel)]="filteredProductKey" name="sortReivew">
              <mat-option  *ngFor="let item of sortYear; let i = index" [value]="item.value">
                <span class="text18 font-normal mr-2">{{item?.key}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="relative mr-4 2xl:mr-6 cle_drop">
          <mat-form-field appearance="outline" class="w-full dropdown">
            <span class="icon-shuffle-data text24 font-normal text-primary"></span>
            <mat-select [(ngModel)]="filteredProductKey" name="sortReivew">
              <mat-option  *ngFor="let item of sortYear; let i = index" [value]="item.value">
                <span class="text18 font-normal mr-2">{{item?.key}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ml-auto">
          <span class="p-2.5 py-3 2xl:p-4 2xl:py-3 bg-t6 flex items-center justify-center ml-auto rounded-md cursor-pointer"  onclick="toggleActive('#search','active');removeActive('#profile','active');"><span class="icon-search text-primary text-xl 2xl:text-2xl leading-none"></span>
          </span>
          <label for="main_search" id="search" class="p-2.5 2xl:p-4 rounded-md bg-white border border-t4 flex space-x-2 max-w-64 2xl:max-w-[350px] w-full ml-4 2xl:ml-6 absolute top-full right-5 -translate-y-3 invisible opacity-0 anim">
            <span>
              <svg class="w-5 h-5 lg:w-6 lg:h-6" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M11.5 21.75C5.85 21.75 1.25 17.15 1.25 11.5C1.25 5.85 5.85 1.25 11.5 1.25C17.15 1.25 21.75 5.85 21.75 11.5C21.75 17.15 17.15 21.75 11.5 21.75ZM11.5 2.75C6.67 2.75 2.75 6.68 2.75 11.5C2.75 16.32 6.67 20.25 11.5 20.25C16.33 20.25 20.25 16.32 20.25 11.5C20.25 6.68 16.33 2.75 11.5 2.75Z" fill="#94A3B8"/> <path d="M21.9975 22.7499C21.8075 22.7499 21.6175 22.6799 21.4675 22.5299L19.4675 20.5299C19.1775 20.2399 19.1775 19.7599 19.4675 19.4699C19.7575 19.1799 20.2375 19.1799 20.5275 19.4699L22.5275 21.4699C22.8175 21.7599 22.8175 22.2399 22.5275 22.5299C22.3775 22.6799 22.1875 22.7499 21.9975 22.7499Z" fill="#94A3B8"/> </svg>
            </span>
            <input class="outline-none bg-transparent text-dark text-14 md:text-16 2xl:text-18 w-full" type="search" name="search" placeholder="Search student,teacher etc..." id="main_search"/>
          </label>
        </div>
        <div class="relative">
          <span class="p-2.5 py-3 2xl:p-4 2xl:py-3 bg-t6 flex items-center justify-center rounded-md ml-4 2xl:ml-6 cursor-pointer" onclick="toggleActive('#profile','active');removeActive('#search','active');"><span class="icon_show icon-user text-primary text-xl 2xl:text-2xl leading-none"></span>
          </span>
          <ul id="profile" class="w-full min-w-40 bg-white border border-t4 rounded-md p-3 absolute right-0 top-full translate-y-10 invisible anim space-y-2">
            <li class="flex items-center cursor-pointer space-x-3" onclick="toggleActive('#profile','active');">
              <span class="inline-block icon-user"></span>
              <span class="inline-block text16">Profile</span>
            </li>
            <li class="flex items-center cursor-pointer space-x-3" onclick="toggleActive('#profile','active');">
              <span class="inline-block icon-user"></span>
              <span class="inline-block text16">Login</span>
            </li>
            <li class="flex items-center cursor-pointer text-error space-x-3" onclick="toggleActive('#profile','active');">
              <span class="inline-block icon-arrow-left"></span>
              <span class="inline-block text16 text-error">Logout</span>
            </li>
          </ul>
        </div>
      </header>
      <div class="w-full p-5 lg:p-6 2xl:p-7 px-5 lg:px-8 2xl:px-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>