<div class="w-full flex items-center flex-wrap xl:flex-nowrap">
    <div class="w-full lg:w-auto pb-2 lg:pb-0">
        <span class=" block text24">Attendance</span>
    </div>
    <div class="w-full xl:w-auto flex items-center flex-wrap lg:flex-nowrap space-x-3  justify-end ml-auto">
    
        <button class="lg:order-4 btn_primary group anim">
            <span class="icon_show icon-add text-xl xl:text-2xl text-white group-hover:text-primary"></span>
            <span class="text18 text-white group-hover:text-primary whitespace-nowrap">Take Attendance</span>
        </button>
    </div>
</div>

<div class="w-full tabs relative">
  <mat-tab-group animationDuration="0ms"(selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTab">
    <mat-tab>
      <ng-template mat-tab-label class="relative">
        <span class="text20 text-t2">Student</span>
        <div class="absolute top-2 -right-3">
          <span class="relative flex h-2 w-2">
            <!-- <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary/90 opacity-75"></span> -->
            <!-- <span class="relative inline-flex rounded-full h-2 w-2 bg-primary"></span> -->
          </span>
        </div>
      </ng-template>
      <!--  *ngIf="selectedTab == 0" -->
      <div class="w-full">
        <app-student-attendance-list></app-student-attendance-list>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="relative">
        <span class="text20 text-t2">Teacher</span>
        <div class="absolute top-2 -right-3">
          <span class="relative flex h-2 w-2">
            <!-- <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary/90 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-2 w-2 bg-primary"></span> -->
          </span>
        </div>
      </ng-template>
      <!--  *ngIf="selectedTab == 1" -->
      <div class="w-full">
        <app-teacher-attendance-list></app-teacher-attendance-list>
      </div>
    </mat-tab>
  </mat-tab-group>
  <span class="w-full h-0.5 bg-t4 absolute top-[46px]"></span>
</div>