<div class="max-w-4xl w-full rounded-3xl bg-white p-7 lg:p-8 xl:p-8 2xl:p-9">
  <div class="flex items-center justify-end">
    <span class="block icon-close text-xl text-error cursor-pointer" (click)="closeDailog()"></span>
  </div>
  <span class="block text-24 font-bold text-center">{{data[1].btnName}} Class</span>
  <form class="flex flex-wrap mt-6 xl:mt-8" #sizeNgForm="ngForm" [formGroup]="sizeForm" (ngSubmit)="onSubmitAction()">
    <div class="w-full relative pb-6 mb-1">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">Academic Year<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
        <input type="text" pInputText [formControlName]="'year'" class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-light_blue rounded-lg outline-none py-2 xl:py-2.5 px-4" placeholder="Enter Academic Year">
        <span class="error-message"
        *ngIf="sizeForm.get('year').hasError('required') && (sizeForm.get('year').dirty || sizeForm.get('year').touched)">
        Academic Year is required.</span>
    </div>

    <div class="w-full relative pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">Start Date<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
      <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
        <input matInput
        [matDatepicker]="picker" [formControlName]="'starttime'" (click)="picker.open()"
         placeholder="Select Date">
        <span matSuffix>
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        </span>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <span class="error-message" *ngIf="sizeForm.get('starttime').hasError('required') && (sizeForm.get('starttime').dirty || sizeForm.get('starttime').touched)">Start Date is required.</span>
    </div>

    <div class="w-full relative pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">End Date<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
      <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
        <input matInput
        [matDatepicker]="picker1" [formControlName]="'endtime'" (click)="picker1.open()"
         placeholder="Select Date">
        <span matSuffix>
          <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
        </span>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <span class="error-message" *ngIf="sizeForm.get('endtime').hasError('required') && (sizeForm.get('endtime').dirty || sizeForm.get('endtime').touched)">End Date is required.</span>
    </div>
    <div class="w-full flex items-center justify-center">
      <button type="button" mat-flat-button (click)="onSubmitAction()" class="flex items-center border-2 border-primary rounded-lg px-5 py-4 outline-none bg-primary hover:bg-white anim group">
        <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">Create</span>
        <!-- <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim" *ngIf="isBtnChange">Update</span> -->
        <span class="block" *ngIf="isBtnLoading">
          <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10" stroke-width="4"></circle> <path class="opacity-75 fill-white group-hover:fill-primary anim" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path> </svg>
        </span>
      </button>
      <!-- <button type="button" mat-flat-button (click)="onSubmitAction()" class="flex items-center border-2 border-primary rounded-lg px-6 py-2 outline-none bg-primary hover:bg-white anim group">
        <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">{{data[1].btnName}} Size</span>
        <span class="block" *ngIf="isBtnLoading">
          <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10" stroke-width="4"></circle> <path class="opacity-75 fill-white group-hover:fill-primary anim" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path> </svg>
        </span>
      </button> -->
    </div>
  </form>
</div>

