<div class="w-full py-1 lg:py-2 px-5 xl:px-7 bg-white rounded-md mt-4">
    <div class="flex items-center flex-wrap 2xl:flex-nowrap -mx-2">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full sm:max-w-64 2xl:max-w-[350px] p-2">
            <label for="main_search" class="search py-2.5 w-full border border-[#CBD4E1]">
                <span class="icon_show icon-search text-primary text-xl xl:text-2xl"></span>
                <input class="outline-none bg-transparent text-dark text-14 md:text-16 2xl:text-18 w-full" type="search" name="search" placeholder="Search School" id="main_search"/>
            </label>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
            <mat-select placeholder="Select Class" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of classList" [value]="item.value">{{item?.key}}</mat-option>
            </mat-select>
            </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Section" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of sectionList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()"
                placeholder="Select Date">
                <span matSuffix>
                <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                </span>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    </div>
    <div class="space-y-2 mt-5 lg:mt-7 xl:mt-8">
        <div class="flex items-center space-x-4">
            <span class="text20 text-dark">Month : August 2024</span>
            <span class="text20 text-t2">Class:10 | Section:A</span>
        </div>
    </div>
<div class="w-full relative py-6 xl:py-8">
    <div class="w-full relative">
        <div class="rounded-xl overflow-x-hidden lg:overflow-x-auto relative bg-white">
            <table mat-table matSort [dataSource]="studentAttendanceData" class="h-full">
                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Student</th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> 
                        <span class="block">{{element?.student}}</span> 
                        <span class="block">Roll No:{{element?.rollno}}</span> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="date1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">01</th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                        <span class="block text-14 xl:text-16 text-t2">{{element?.date1}}</span>  
                    </td>
                </ng-container>
                <ng-container matColumnDef="date2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">02</th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                        <span class="block text-14 xl:text-16 text-t2">{{element?.date2}}</span>  
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
