<div class="mt-5 xl:mt-7">
  <mat-accordion class="space-y-5">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title><span class="text16">Class 1-A</span></mat-panel-title>
        <mat-panel-description class="justify-end">
          <div class="flex items-center justify-end space-x-3">
            <span class="icon-edit block text-xl cursor-pointer text-primary anim"></span>
            <span class="block icon-delete text-xl cursor-pointer text-error anim"></span>
            <span class="block icon-arrow-down text-xl cursor-pointer text-primary anim"></span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="w-full"></div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
