<div class="w-full rounded-[50px]">
  <div class="w-full flex items-center">
    <!-- <span class="icon-arrow-left text24 mr-3 cursor-pointer" [routerLink]="'/timetable'"></span> -->
    <span class="w-full text24"> Create Timetable </span>
    <button type="button" mat-flat-button [routerLink]="'/timetable'" class="btn_primary ml-auto anim group">
      <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">Back</span>
    </button>
    <button type="button" mat-flat-button class="btn_primary ml-3 anim group" (click)="nextStepTimetable($event)">
      <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">Next</span>
      <span class="block" *ngIf="isBtnLoading">
        <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10" stroke-width="4"></circle> <path class="opacity-75 fill-white group-hover:fill-primary anim" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path> </svg>
      </span>
    </button>
  </div>

  <form [formGroup]="createTimetable">
    <div class="w-full overflow-x-auto mt-5 xl:mt-7 bg-white">
      <table class="w-full text-left bg-white rounded-xl overflow-hidden custome_table z-20" formArrayName="studentTimetable">
        <tr>
          <th class="text16 p-4 pl-6 xl:pl-9 bg-t5">Period</th>        
          <th class="text16 p-4 bg-t5">Time</th>
          <th class="text16 p-4 bg-t5">Class</th>
          <th class="text16 p-4 bg-t5">
              <div class="cursor-pointer"  (click)="addTimetable()">
                <span class="icon-add font-semibold pr-1"></span>
                <span class="text-lg leading-[22px] text-primary font-semibold anim ">Add More</span>
              </div>
          </th>
        </tr>
        <tr class="py-4" *ngFor="let list of studentTTDetails.controls;let i = index" [formGroupName]="i">
          <td class="p-4 pl-6 xl:pl-9">
            <span class="text16">{{ i+1 }}</span>
          </td>
          <td class="p-4">
            <div class="flex items-center justify-start space-x-2">
              <div class="w-56">
                <input class="w-full input text18 text-dark font-medium" type="time" name="starttime" id="" [formControlName]="'starttime'" />
              </div>
              <div class="w-56">
                <input class="w-full input text18 text-dark font-medium" type="time" name="starttime" id="" [formControlName]="'endtime'" />
              </div>
            </div>
          </td>
          <td class="p-4">
            <div class="flex items-center space-x-7 xl:space-x-10">
              <div class="flex space-x-5">
                <!-- <div class="flex items-center space-x-2.5">
                  <input type="checkbox" name="" id="1"/>
                  <label for="1" class="text16 text-t2 whitespace-nowrap" formControlName="selectAll">Select All</label>
                </div> -->
                <div class="flex items-center space-x-2.5">
                  <input type="checkbox" name="" id="2" formControlName="selectBreak" />
                  <label for="2" class="text16 text-t2 whitespace-nowrap" >Break</label>
                </div>
              </div>  
              <div class="w-full relative pt-0">
                <mat-form-field appearance="outline" class="w-full dropdown">
                  <mat-select placeholder="Select Class" [formControlName]="'class'" multiple>
                    <!-- <mat-option #allSelected{{i}} (click)="toggleAllSelection(i)" [value]="0">All</mat-option> -->
                    <mat-option *ngFor="let item of classList" [value]="item.value"
                      (click)="tosslePerOne(allSelected.viewValue, i)">{{item?.key}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="">
                <span class="icon-delete font-semibold text-2xl text-error cursor-pointer" (click)="removeTimetable(i)"></span>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <!-- <div class="flex justify-end py-7 px-12">
        <button type="button" mat-flat-button class="btn_primary ml-auto anim group">
          <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">Add More</span>
        </button>
      </div> -->
    </div>
  </form>

</div>
