<div class="w-full rounded-[50px]">
    <div class="w-full flex items-center">
        <span class="icon-arrow-left text-36 mr-3 cursor-pointer" [routerLink]="'/teachers'"></span>
        <span class="block text-2xl lg:text-[32px] font-bold mr-5">{{couponId != "teachersdetail" ? "Edit" : "Add"}}  Teacher | Employee Form</span>
        <!-- <button type="button" [routerLink]="'/student'" class="flex items-center border-2 border-primary rounded-lg px-6 py-2 outline-none text-primary bg-white anim group ml-auto mr-5">
              <span class="text-base font-medium leading-[22px] text-primary bg-white anim">Cancel</span>
            </button> -->
        <button type="button" mat-flat-button (click)="onSubmitAction()"
          class="flex items-center border-2 border-primary rounded-lg px-5 py-4 outline-none bg-transparent hover:bg-primary ml-auto anim group">
          <span class="text-base font-medium leading-[22px] text-primary group-hover:text-white anim">Reset</span>
          <span class="block" *ngIf="isBtnLoading">
            <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10"
                stroke-width="4"></circle>
              <path class="opacity-75 fill-white group-hover:fill-primary anim"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
          </span>
        </button>
        <button type="button" mat-flat-button (click)="onSubmitAction()"
          class="flex items-center border-2 border-primary rounded-lg px-5 py-4 outline-none bg-primary hover:bg-white ml-6 anim group">
          <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">Submit</span>
          <span class="block" *ngIf="isBtnLoading">
            <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10"
                stroke-width="4"></circle>
              <path class="opacity-75 fill-white group-hover:fill-primary anim"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
          </span>
        </button>
    </div>
    <form class="coupon-form -mx-2.5 mt-6 xl:mt-8" #couponNgForm="ngForm" [formGroup]="productCouponForm"
    (ngSubmit)="onSubmitAction()">
      <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">01 Personal Information</span>
          <div class="flex flex-wrap lg:flex-nowrap -mx-2.5">
            <div class="w-full lg:w-[190px] pb-5 px-2.5 pt-0">
                <label for="expenses_image" class="block relative text-16 text-gray_1 font-semibold pb-2">Teacher Photo * <span class="text-[#EFB008]"></span></label>
                <div class="w-full h-40 relative group max-w-sm lg:max-w-full">
                  <div class="w-full h-full z-30 bg-white/40 backdrop-blur-sm hidden items-center justify-center rounded-3xl absolute inset-0 " [ngClass]="selectedItemImg ? 'group-hover:flex' : 'hidden'">
                    <div class="flex items-center space-x-3 z-10" *ngIf="selectedItemImg">
                      <div class="">
                        <input type="file" name="expenses_image" id="coupon_image" class="hidden" [multiple]="false"
                          [accept]="'image/jpeg, image/png'" (change)="uploadItemImage($event)">
                        <label for="expenses_image" class="block cursor-pointer">
                          <span class="icon-camera text-xl text-white"></span>
                        </label>
                      </div>
                      <button mat-icon-button>
                        <span class="block icon-delete text-error text-3xl" (click)="removeFillAvatar()"></span>
                      </button>
                    </div>
                  </div>
                  <div class="w-full h-full flex items-center justify-center z-20"[ngClass]="{'opacity-0' : selectedItemImg}">
                    <div class="w-full h-full">
                      <input type="file" name="expenses_image" id="expenses_image" class="hidden" [multiple]="false"
                        [accept]="'image/avif,image/webp, image/png, image/jpeg, image/gif, image/bmp, image/vnd.microsoft.icon, image/tiff, image/svg+xml'"
                        (change)="uploadItemImage($event)">
                      <label for="expenses_image" class="block cursor-pointer h-full">
                        <div class="w-full h-full max-h-[160px] flex flex-col items-center justify-center bg-white border-2 border-dashed border-t4 rounded-xl p-7">
                          <span class="icon-upload text-3xl mr-2"></span>
                          <span class="text-16 font-medium text-nowrap">Upload Logo</span>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="w-full h-full bg-gray_4 border-2 border-dashed border-primary overflow-hidden rounded-3xl absolute inset-0 z-[1] mt-0" *ngIf="selectedItemImg">
                    <img class="object-cover w-full h-full" [src]=" !isUpload ? constants.baseImageUrl + selectedItemImg : constants.baseImageUrl + selectedItemImg">
                  </div>
                </div>
            </div>
            <div class="w-full max-w-[1155px]">
                <div class="flex flex-wrap">
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Teacher Name <span
                            class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
                        <input type="text" pInputText [formControlName]="'teacher_name'"
                          class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                          placeholder="Enter Teacher name">
                        <span class="error-message"
                          *ngIf="productCouponForm.get('teacher_name').hasError('required') && (productCouponForm.get('teacher_name').dirty || productCouponForm.get('teacher_name').touched)">Enter Teacher Name
                         is required.</span>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Mobile No.<span
                            class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
                        <input type="text" pInputText [formControlName]="'t_mobile_no'"
                          class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                          placeholder="Enter Mobile No.">
                        <span class="error-message"
                          *ngIf="productCouponForm.get('t_mobile_no').hasError('required') && (productCouponForm.get('t_mobile_no').dirty || productCouponForm.get('t_mobile_no').touched)">Enter Mobile No.
                         is required.</span>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Email <span
                            class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
                        <input type="text" pInputText [formControlName]="'email'"
                          class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                          placeholder="Enter Email">
                        <span class="error-message"
                          *ngIf="productCouponForm.get('email').hasError('required') && (productCouponForm.get('email').dirty || productCouponForm.get('email').touched)">Enter Email
                         is required.</span>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Gender<span
                            class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                        <mat-form-field appearance="outline" class="w-full dropdown">
                          <mat-select placeholder="Select Gender" [formControlName]="'gender'">
                            <mat-option *ngFor="let item of genderList" [value]="item.value">{{item?.key}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <span class="error-message"
                          *ngIf="productCouponForm.get('gender').hasError('required') && (productCouponForm.get('gender').dirty || productCouponForm.get('gender').touched)">
                          Please select Gender.
                        </span>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Date Of Birth<span
                            class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
                          <input matInput [matDatepicker]="picker1" [formControlName]="'dob'" (click)="picker1.open()"
                            placeholder="Select Date">
                          <span matSuffix>
                            <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                          </span>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <span class="error-message"
                          *ngIf="productCouponForm.get('dob').hasError('required') && (productCouponForm.get('dob').dirty || productCouponForm.get('dob').touched)">
                          Date Of Birth is required.</span>
                    </div>

                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Marital Status<span
                            class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                        <mat-form-field appearance="outline" class="w-full dropdown">
                          <mat-select placeholder="Select" [formControlName]="'marital_status'">
                            <mat-option *ngFor="let item of genderList" [value]="item.value">{{item?.key}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <span class="error-message"
                          *ngIf="productCouponForm.get('marital_status').hasError('required') && (productCouponForm.get('marital_status').dirty || productCouponForm.get('marital_status').touched)">
                          Please select Status.
                        </span>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                        <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Joining Date<span
                            class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                        <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
                          <input matInput [matDatepicker]="picker2" [formControlName]="'join_date'" (click)="picker2.open()"
                            placeholder="Select Date">
                          <span matSuffix>
                            <mat-datepicker-toggle [for]="picker2"></mat-datepicker-toggle>
                          </span>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <span class="error-message"
                          *ngIf="productCouponForm.get('join_date').hasError('required') && (productCouponForm.get('join_date').dirty || productCouponForm.get('join_date').touched)">
                          Joining Date is required.</span>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/3 relative pb-5 px-2.5 pt-0">
                      <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Teacher Short Name <span
                          class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
                      <input type="text" pInputText [formControlName]="'teacher_short_name'"
                        class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                        placeholder="Enter Teacher Short name">
                      <span class="error-message"
                        *ngIf="productCouponForm.get('teacher_short_name').hasError('required') && (productCouponForm.get('teacher_short_name').dirty || productCouponForm.get('teacher_short_name').touched)">Enter Teacher Short Name
                       is required.</span>
                  </div>
                </div>
            </div>
          </div>
      </div>

    <!-- Religion & Category -->
     <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">02 Religion & Category</span>
        <div class="flex flex-wrap -mx-2.5">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Nationality<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'nationality'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Nationality">
                <span class="error-message"
                  *ngIf="productCouponForm.get('nationality').hasError('required') && (productCouponForm.get('nationality').dirty || productCouponForm.get('nationality').touched)">Enter Nationality is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Religion<span
                    class="absolute top-0 text-error text-[18] font-bold"></span></label>
                <mat-form-field appearance="outline" class="w-full dropdown">
                  <mat-select placeholder="Select Religion" [formControlName]="'religion'">
                    <mat-option *ngFor="let item of genderList" [value]="item.value">{{item?.key}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="error-message"
                  *ngIf="productCouponForm.get('religion').hasError('required') && (productCouponForm.get('religion').dirty || productCouponForm.get('religion').touched)">
                  Please select Religion.
                </span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Cast<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'cast'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Cast">
                <span class="error-message"
                  *ngIf="productCouponForm.get('cast').hasError('required') && (productCouponForm.get('cast').dirty || productCouponForm.get('cast').touched)">Enter Cast is required.</span>
            </div>
        </div>
     </div>

    <!-- Experience (If Any) -->
     <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">03 Experience (If Any)</span>
        <div class="flex flex-wrap -mx-2.5">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Last Organization Name<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'last_organization_name'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Organization">
                <span class="error-message"
                  *ngIf="productCouponForm.get('last_organization_name').hasError('required') && (productCouponForm.get('last_organization_name').dirty || productCouponForm.get('last_organization_name').touched)">Enter Organization is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Last Job Position<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'last_job_position'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Job Position">
                <span class="error-message"
                  *ngIf="productCouponForm.get('last_job_position').hasError('required') && (productCouponForm.get('last_job_position').dirty || productCouponForm.get('last_job_position').touched)">Enter Last Job Position is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Experience<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'experience'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Experience">
                <span class="error-message"
                  *ngIf="productCouponForm.get('experience').hasError('required') && (productCouponForm.get('experience').dirty || productCouponForm.get('experience').touched)">Enter Experience is required.</span>
            </div>
        </div>
     </div>

      <!-- Qualification -->
      <div class="w-full" formArrayName="qualificationDetails">
        <div class="flex justify-between border-b border-t3 pb-2 mb-6">
            <span class="block text-20 text-primary font-bold ">04 Qualification</span>
            <button class="btn_primary" type="button" (click)="addMoreQualification()">Add More</button>
        </div>
        <div class="w-full" *ngFor="let list of qualificationGroup.controls; let i=index">
          <div class="flex flex-wrap -mx-2.5" [formGroupName]="i">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Qualification<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'qualification'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Qualification">
                <span class="error-message"
                  *ngIf="productCouponForm.get('qualificationDetails').controls[i].get('qualification').hasError('required') && (productCouponForm.get('qualificationDetails').controls[i].get('qualification').dirty || productCouponForm.get('qualificationDetails').controls[i].get('qualification').touched)">Enter Qualification is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">College<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'college'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter College">
                <span class="error-message"
                  *ngIf="productCouponForm.get('qualificationDetails').controls[i].get('college').hasError('required') && (productCouponForm.get('qualificationDetails').controls[i].get('college').dirty || productCouponForm.get('qualificationDetails').controls[i].get('college').touched)">Enter College is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Passing Year<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'passing_year'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Passing Year">
                <span class="error-message"
                  *ngIf="productCouponForm.get('qualificationDetails').controls[i].get('passing_year').hasError('required') && (productCouponForm.get('qualificationDetails').controls[i].get('passing_year').dirty || productCouponForm.get('qualificationDetails').controls[i].get('passing_year').touched)">Enter Passing Year is required.</span>
            </div>
            <div class="flex items-center lg:w-1/2 md:w-1/3 pl-3 sm:w-1/2 w-full xl:w-1/3 2xl:w-1/4">
               <span class="icon-delete text-24 text-error font-semibold mr-3 cursor-pointer" (click)="removeRows(i)"></span>
            </div>
          </div>
        </div>
     </div>

     
    <!-- Teacher Address -->
    <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">05 Teacher Address</span>
        <div class="flex flex-wrap -mx-2.5">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Address<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'address'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Address">
                <span class="error-message"
                  *ngIf="productCouponForm.get('address').hasError('required') && (productCouponForm.get('address').dirty || productCouponForm.get('address').touched)">Enter Address is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Pin Code<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'pin_code'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Pin Code">
                <span class="error-message"
                  *ngIf="productCouponForm.get('pin_code').hasError('required') && (productCouponForm.get('pin_code').dirty || productCouponForm.get('pin_code').touched)">Enter Pin Code is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">City<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'city'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter City">
                <span class="error-message"
                  *ngIf="productCouponForm.get('city').hasError('required') && (productCouponForm.get('city').dirty || productCouponForm.get('city').touched)">Enter City is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">State<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'state'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter State">
                <span class="error-message"
                  *ngIf="productCouponForm.get('state').hasError('required') && (productCouponForm.get('state').dirty || productCouponForm.get('state').touched)">Enter State is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Country<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'country'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Country">
                <span class="error-message"
                  *ngIf="productCouponForm.get('country').hasError('required') && (productCouponForm.get('country').dirty || productCouponForm.get('country').touched)">Enter Country is required.</span>
            </div>
        </div>
     </div>

    <!-- Bank Account Details -->
    <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">06 Bank Account Details</span>
        <div class="flex flex-wrap -mx-2.5">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Bank Name<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'bank_name'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Bank Name">
                <span class="error-message"
                  *ngIf="productCouponForm.get('bank_name').hasError('required') && (productCouponForm.get('bank_name').dirty || productCouponForm.get('bank_name').touched)">Enter Bank Name is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Bank Branch<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'bank_branch'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Bank Branch">
                <span class="error-message"
                  *ngIf="productCouponForm.get('bank_branch').hasError('required') && (productCouponForm.get('bank_branch').dirty || productCouponForm.get('bank_branch').touched)">Enter Bank Branch is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Account No.<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'account_no'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Account No.">
                <span class="error-message"
                  *ngIf="productCouponForm.get('account_no').hasError('required') && (productCouponForm.get('account_no').dirty || productCouponForm.get('account_no').touched)">Enter Account No. is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">IFSC Code<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'ifsc_code'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter IFSC Code">
                <span class="error-message"
                  *ngIf="productCouponForm.get('ifsc_code').hasError('required') && (productCouponForm.get('ifsc_code').dirty || productCouponForm.get('ifsc_code').touched)">Enter IFSC Code is required.</span>
            </div>
        </div>
     </div>

    <!--  Assign Class & Section -->
    <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">07 Assign Class & Section</span>
        <div class="w-full relative flex pb-6 xl:pb-8">
            <div class="w-full relative overflow-hidden">
                <div class="rounded-xl overflow-x-auto relative">
                    <table mat-table matSort [dataSource]="couponData" class="mat-elevation-z8 h-full">
                        <ng-container matColumnDef="class_teacher">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Class Teacher </th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails flex items-center"> 
                              <div class="w-20">
                                <!-- <input type="radio" name="class_teacher" id="" class="mr-4"> -->
                                {{element?.class_teacher}}
                              </div>
                              <div class="flex items-center ml-[50px]">
                                <div class="mr-5">
                                    <input type="radio" name="1" id="" class="mr-4">
                                    <span>A</span>
                                </div>
                                <div class="mr-5">
                                    <input type="radio" name="1" id="" class="mr-4">
                                    <span>B</span>
                                </div>
                                <div class="mr-5">
                                    <input type="radio" name="1" id="" class="mr-4">
                                    <span>C</span>
                                </div>
                                <div class="mr-5">
                                    <input type="radio" name="1" id="" class="mr-4">
                                    <span>D</span>
                                </div>
                                <div class="mr-5">
                                  <input type="radio" name="1" id="" class="mr-4">
                                  <span>E</span>
                              </div>
                              <div class="mr-5">
                                <input type="radio" name="1" id="" class="mr-4">
                                <span>F</span>
                            </div>
                            </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                </div>
            </div>
            <div class="w-full ml-5">
                <div class="w-full sm:w-1/2 md:w-1/3 2xl:w-1/2 relative pb-5 px-2.5 pt-0">
                    <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Designation<span
                        class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                    <input type="text" pInputText [formControlName]="'designation'"
                      class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                      placeholder="EX. English Teacher">
                    <span class="error-message"
                      *ngIf="productCouponForm.get('designation').hasError('required') && (productCouponForm.get('designation').dirty || productCouponForm.get('designation').touched)">Enter Designation is required.</span>
                </div>
                <div class="w-full">
                  <div class="w-full sm:w-1/2 md:w-1/3 2xl:w-1/2 relative pb-5 px-2.5 pt-0">
                    <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Skills<span class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                    <input type="text" pInputText [formControlName]="'skills'"
                      class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                      placeholder="Add your Skills" (keyup.enter)="addSkills()">
                    </div>
                    <div class="w-1/2 flex flex-wrap relative px-2.5">
                      <div class="mr-1.5" *ngFor="let item of skillData">
                        <p class="bg-t5 rounded-md px-3 py-2 my-1.5" > {{item}}
                        <span class="icon-close text-xs text-error font-semibold ml-3 cursor-pointer" (click)="removeSkill(item)"></span>
                        </p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
     </div>

    <!-- Detail For Login Teacher Portal -->
     <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">08 Detail For Login Teacher Portal</span>
        <div class="flex flex-wrap -mx-2.5">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Mobile No.<span
                    class="absolute top-0 text-red-600 text-[18] font-bold"></span></label>
                <input type="text" pInputText [formControlName]="'mobile_no'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark bg-[#E2E8F0] placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Mobile No.">
                <span class="error-message"
                  *ngIf="productCouponForm.get('mobile_no').hasError('required') && (productCouponForm.get('mobile_no').dirty || productCouponForm.get('mobile_no').touched)">Enter Mobile No.   is required.</span>
            </div>
        </div>
     </div>
 </form>
</div>
