<div class="w-full flex items-center flex-wrap xl:flex-nowrap pb-4 border-b border-t4">
    <div class="w-full lg:w-auto pb-2 lg:pb-0">
        <span class=" block text24">Exam Timetable</span>
    </div>
    <div class="w-full xl:w-auto flex items-center flex-wrap lg:flex-nowrap space-x-3  justify-end ml-auto">
        <button class="lg:order-4 btn_primary group anim" (click)="createExamTimetable()">
            <span class="icon_show icon-add text-xl xl:text-2xl text-white group-hover:text-primary"></span>
            <span class="text18 text-white group-hover:text-primary whitespace-nowrap">Create New Timetable</span>
        </button>
    </div>
</div>
<div class="w-full py-1 lg:py-2 px-5 xl:px-7 bg-white rounded-md mt-4">
    <div class="flex items-center flex-wrap 2xl:flex-nowrap -mx-2">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full sm:max-w-64 2xl:max-w-[350px] p-2">
            <label for="main_search" class="search py-2.5 w-full border border-[#CBD4E1]">
                <span class="icon_show icon-search text-primary text-xl xl:text-2xl"></span>
                <input class="outline-none bg-transparent text-dark text-14 md:text-16 2xl:text-18 w-full" type="search" name="search" placeholder="Search" id="main_search"/>
            </label>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
            <mat-select placeholder="Select Class" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of classList" [value]="item.value">{{item?.key}}</mat-option>
            </mat-select>
            </mat-form-field>          
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Section" [(ngModel)]="selClass">
                <mat-option *ngFor="let item of sectionList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>          
        </div>
    </div>
</div>
<div class="mt-5 xl:mt-7">
<mat-accordion class="space-y-5 drop_table">
    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-description class="flex justify-between">
            <div class="flex">
                <mat-panel-title><span class="text16">Sem - 1</span></mat-panel-title>
                <mat-panel-title><span class="text16 text-nowrap">Class 1 - A</span></mat-panel-title>
            </div>
        <div class="flex items-center justify-between space-x-3">
            <mat-panel-title><span class="text16">08 Aug, 2024 - 20 Aug, 2024</span></mat-panel-title>
            <span class="icon-eye block text-xl cursor-pointer text-primary anim" (click)="viewExamTimetable()"></span>
            <span class="icon-edit block text-xl cursor-pointer text-primary anim"></span>
            <span class="block icon-delete text-xl cursor-pointer text-error anim"></span>
            <span class="block icon-arrow-down text-xl cursor-pointer text-primary anim"></span>
        </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="w-full relative py-6 xl:py-8">
        <div class="w-full relative">
            <div class="rounded-xl overflow-x-auto relative bg-white dark_hrad">
                <table mat-table matSort [dataSource]="stdTimetableData" class="h-full text-left">
                
                    <!-- Size Name Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Date </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap text16 t_ditails2 text-dark"> {{element?.date}} </td>
                    </ng-container>
        
                    <!-- Size Name Column -->
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Time</th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.time}}</span>
                        </td>
                    </ng-container>
        
                    <!-- Description Column -->
                    <ng-container matColumnDef="maximum_marks">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Maximum Marks</th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.maximum_marks}}</span>
                        </td>
                    </ng-container>
    
                        <!-- Description Column -->
                        <ng-container matColumnDef="room_no">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Room No</th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.room_no}}</span>
                            </td>
                        </ng-container>
    
                        <!-- Description Column -->
                        <ng-container matColumnDef="subject_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Subject Code</th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.subject_code}}</span>
                            </td>
                        </ng-container>
    
                        <!-- Description Column -->
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Subject</th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-primary">{{element?.subject}} </span>
                        </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="w-full"> 
                    <div class="w-full flex justify-center p-5" *ngIf="stdTimetableData.length == 0"> <!--*ngIf="stdTimetableData.filteredData.length == 0"-->
                        <div class="max-w-8xl w-full rounded-2xl p-10 mx-auto bg-gray_2">
                        <strong class="block text-xl lg:text-2xl 2xl:text-4xl text-center"> No Student Added </strong>
                        <span class="block lg:text-18 text-center text-t2"> Please add student first </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="isTableLoading" class="absolute inset-0 w-full h-full flex items-center justify-center bg-slate-300/30 backdrop-blur-sm z-10">
                    <div class="flex flex-col items-center justify-center">
                        <div
                            class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-primary border-t-transparent">
                        </div>
                        <p class="block text-base font-medium pt-2">Plase wait</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description class="flex justify-between">
                <div class="flex">
                    <mat-panel-title><span class="text16">Sem - 1</span></mat-panel-title>
                    <mat-panel-title><span class="text16 text-nowrap">Class 1 - </span></mat-panel-title>
                </div>
            <div class="flex items-center justify-between space-x-3">
                <mat-panel-title><span class="text16">08 Aug, 2024 - 20 Aug, 2024</span></mat-panel-title>
                <span class="icon-eye block text-xl cursor-pointer text-primary anim" (click)="viewExamTimetable()"></span>
                <span class="icon-edit block text-xl cursor-pointer text-primary anim"></span>
                <span class="block icon-delete text-xl cursor-pointer text-error anim"></span>
                <span class="block icon-arrow-down text-xl cursor-pointer text-primary anim"></span>
            </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
    <div class="w-full relative py-6 xl:py-8">
        <div class="w-full relative">
            <div class="rounded-xl overflow-x-auto relative bg-white dark_hrad">
                <table mat-table matSort [dataSource]="stdTimetableData" class="h-full text-left">
                
                    <!-- Size Name Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Date </th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap text16 t_ditails2 text-dark"> {{element?.date}} </td>
                    </ng-container>
        
                    <!-- Size Name Column -->
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Time</th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.time}}</span>
                        </td>
                    </ng-container>
        
                    <!-- Description Column -->
                    <ng-container matColumnDef="maximum_marks">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Maximum Marks</th>
                        <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.maximum_marks}}</span>
                        </td>
                    </ng-container>
    
                        <!-- Description Column -->
                        <ng-container matColumnDef="room_no">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Room No</th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.room_no}}</span>
                            </td>
                        </ng-container>
    
                        <!-- Description Column -->
                        <ng-container matColumnDef="subject_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Subject Code</th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-t2 font-bold mb-2">{{element?.subject_code}}</span>
                            </td>
                        </ng-container>
    
                        <!-- Description Column -->
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Subject</th>
                            <td mat-cell *matCellDef="let element" class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                            <span class="block text-14 xl:text-16 text-primary">{{element?.subject}} </span>
                        </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="w-full"> 
                    <div class="w-full flex justify-center p-5" *ngIf="stdTimetableData.length == 0"> <!--*ngIf="stdTimetableData.filteredData.length == 0"-->
                        <div class="max-w-8xl w-full rounded-2xl p-10 mx-auto bg-gray_2">
                        <strong class="block text-xl lg:text-2xl 2xl:text-4xl text-center"> No Student Added </strong>
                        <span class="block lg:text-18 text-center text-t2"> Please add student first </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="isTableLoading" class="absolute inset-0 w-full h-full flex items-center justify-center bg-slate-300/30 backdrop-blur-sm z-10">
                    <div class="flex flex-col items-center justify-center">
                        <div
                            class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-primary border-t-transparent">
                        </div>
                        <p class="block text-base font-medium pt-2">Plase wait</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </mat-expansion-panel>
</mat-accordion>
</div>