<div class="w-full">
    <div class="w-full flex">
    <span class="icon-arrow-left text24 mr-3 cursor-pointer" [routerLink]="'/exams'"></span>
        <span class="block text24 mr-5">Add New Exam</span>
        <!-- <button type="button" [routerLink]="'/schools'" class="flex items-center border-2 border-primary rounded-lg px-6 py-2 outline-none text-primary bg-white anim group ml-auto mr-5">
          <span class="text-base font-medium leading-[22px] text-primary bg-white anim">Cancel</span>
        </button> -->
        <button type="button" mat-flat-button (click)="onSubmitAction()" class="btn_primary anim group ml-auto py-4">
          <span class="text-base font-bold leading-[22px] text-white group-hover:text-primary anim">Add Exam</span>
          <span class="block" *ngIf="isBtnLoading">
            <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10" stroke-width="4"></circle> <path class="opacity-75 fill-white group-hover:fill-primary anim" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path> </svg>
          </span>
        </button>
    </div>
    <form class="coupon-form -mx-2.5 mt-6 xl:mt-8" #couponNgForm="ngForm" [formGroup]="productCouponForm"
    (ngSubmit)="onSubmitAction()">
    <div class="w-full">
        <span class="block text-20 text-primary font-bold border-b border-t3 pb-2 mb-6">01 Exam Details</span>
        <div class="flex flex-wrap -mx-2.5">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Exam Title<span
                    class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
                <input type="text" pInputText [formControlName]="'exam_title'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Title">
                <span class="error-message"
                  *ngIf="productCouponForm.get('exam_title').hasError('required') && (productCouponForm.get('exam_title').dirty || productCouponForm.get('exam_title').touched)">Enter Exam Title
                 is required.</span>
            </div>
            <!-- <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-16 text-gray_1 font-semibold pb-2">Exam Center<span
                    class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
                <input type="text" pInputText [formControlName]="'exam_center'"
                  class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4"
                  placeholder="Enter Exam Center">
                <span class="error-message"
                  *ngIf="productCouponForm.get('exam_center').hasError('required') && (productCouponForm.get('exam_center').dirty || productCouponForm.get('exam_center').touched)">Enter Exam Center
                 is required.</span>
            </div> -->
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-14 lg:text-16 text-gray_1 font-semibold pb-2">Start Date<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
                  <input matInput
                  [matDatepicker]="picker" [formControlName]="'starttime'" (click)="picker.open()"
                   placeholder="Select Date">
                  <span matSuffix>
                    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                  </span>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span class="error-message" *ngIf="productCouponForm.get('starttime').hasError('required') && (productCouponForm.get('starttime').dirty || productCouponForm.get('starttime').touched)">Start Date is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                  <label for="item_name" class="block text-14 lg:text-16 text-gray_1 font-semibold pb-2">End Date<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                  <mat-form-field class="example-full-width w-full mt-0 date" appearance="outline" color="primary">
                    <input matInput
                    [matDatepicker]="picker1" [formControlName]="'endtime'" (click)="picker1.open()"
                     placeholder="Select Date">
                    <span matSuffix>
                      <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                    </span>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <span class="error-message" *ngIf="productCouponForm.get('endtime').hasError('required') && (productCouponForm.get('endtime').dirty || productCouponForm.get('endtime').touched)">End Date is required.</span>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-14 lg:text-16 text-gray_1 font-semibold pb-2">Class<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                <mat-form-field appearance="outline" class="w-full dropdown">
                    <mat-select placeholder="Select Class" [formControlName]="'class'">
                    <mat-option *ngFor="let item of classList" [value]="item.value">{{item?.key}}</mat-option>
                    </mat-select>
                </mat-form-field>          
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
                <label for="item_name" class="block text-14 lg:text-16 text-gray_1 font-semibold pb-2">Sectio<span class="absolute top-0 text-error text-[18] font-bold">&nbsp;*</span></label>
                <mat-form-field appearance="outline" class="w-full dropdown">
                    <mat-select placeholder="Select Section" [formControlName]="'section'">
                    <mat-option *ngFor="let item of sectionList" [value]="item.value">{{item?.key}}</mat-option>
                    </mat-select>
                </mat-form-field>          
            </div>
        </div>
    </div>
    </form>
</div>
