<!-- <mat-toolbar>
  {{title}}
</mat-toolbar>
<mat-dialog-content>
  <p>
    {{message}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" color="primary" (click)="onConfirm()"
    tabindex="1"></button>
  <button mat-raised-button tabindex="-1" (click)="onDismiss()">{{btnList[0].secondBtn}}</button>
</mat-dialog-actions> -->

<div class="max-w-4xl w-full rounded-3xl bg-white p-6 2xl:p-8">
  <span class="block icon-close text-xl text-error text-right cursor-pointer" (click)="onDismiss()"></span>
  <div class="flex items-center justify-center">
    <span class="block text-24 font-bold">{{title}}</span>
  </div>
  <div class="w-full">
    <span class="block text-l6 font-medium text-center mt-4">{{message}}</span>
  </div>
  <div class="flex items-center justify-center space-x-4 mt-4">
    <button type="button" (click)="onDismiss()" class="outline-none btn_primary text-base lg:text-lg anim py-2.5 lg:py-3 bg-white text-primary hover:bg-primary hover:text-white">{{btnList[0].firstBtn}}</button>
    <button type="button" (click)="onConfirm()" class="outline-none btn_primary text-base lg:text-lg font-bold border-error hover:text-error bg-error py-2.5 lg:py-3">{{btnList[0].secondBtn}}</button>
  </div>
</div>
  
  
  