/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
*{
  font-family: "Montserrat", sans-serif;
}
.anim{@apply transition-all duration-300;}
.wrapper{@apply max-w-[1440px] px-5 mx-auto;}
.toggle-button.active .drop_arrow{@apply rotate-0;}

.h2{@apply text-24 lg:text-26 2xl:text-36 font-bold text-dark block;}
.h3{@apply text-18 lg:text-20 2xl:text-24 font-bold text-primary block;}
.text24{@apply text-20 lg:text-22 2xl:text-24 font-bold text-dark;}
.text20{@apply text-16 lg:text-18 2xl:text-20 font-bold text-dark;}
.text18{@apply text-14 lg:text-16 2xl:text-18 font-bold text-primary;}
.text16{@apply text-14 xl:text-16 font-semibold text-primary}
.text_titel{@apply text-16 xl:text-16 font-semibold text-primary;}
.btn_primary{@apply flex items-center ml-auto text-sm sm:text-16 xl:text-18 sm:ml-3 2xl:ml-6 space-x-2 px-2.5 py-2 sm:px-3.5 sm:py-2 2xl:py-2.5 2xl:px-5 border border-primary rounded-lg bg-primary hover:bg-transparent anim;}
.btn_secondry{@apply flex items-center ml-auto text-sm sm:text-16 xl:text-18 sm:ml-3 2xl:ml-6 space-x-2 px-2.5 py-2 sm:px-3.5 sm:py-2 2xl:py-2.5 2xl:px-5 border border-primary rounded-lg bg-transparent hover:bg-primary anim;}
.search{@apply mt-3 sm:mt-0 order-3 sm:order-2 p-2.5 2xl:p-4 2xl:py-3 rounded-md bg-white flex space-x-2 w-full ml-auto;}
.error-message{@apply block absolute bottom-0 left-2.5 text-xs font-semibold text-primary-error;}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #0C0F35;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
@tailwind utilities;
.mdc-dialog, .mdc-dialog__scrim{
  border-radius: 24px;
  overflow: hidden ;
}
.cdk-overlay-dark-backdrop{
  background: rgba(12, 15, 53, 0.3) !important;
  filter: blur(4px) !important;
  --tw-backdrop-blur: blur(8px) !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.text16.mat-mdc-header-cell{
  font-weight: 600 !important;
  background-color: #E2E8F0 !important;
  padding: 22px 18px !important;
}
.t_ditails{
  font-weight: 500 !important;
  padding: 12px 18px !important;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background-color: #3B418B !important;
}
.text-primary-error{@apply text-red-600;}

// selact and date input 
.mat-mdc-form-field-infix{
  min-height: auto !important;
  padding: 0 !important;
  z-index: 3;
}

// .mat-mdc-form-field{
//   flex-direction: row !important;
//   width: 100% !important;
// }
.mat-datepicker-toggle .mat-mdc-icon-button.mat-mdc-button-base {
  height: auto !important;
  padding: 0 12px;
}
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  display: none;
}
.p-inputtext:enabled:focus{
  box-shadow: none !important;
}

.dropdown .mdc-text-field, .date .mdc-text-field{@apply w-full bg-white text-16 xl:text-lg border-0 text-dark placeholder:text-t3 rounded-lg outline-none py-[9px] xl:py-[13px] px-4;}
.date .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading, .date .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing, .dropdown .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading, .dropdown .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #CBD4E1 !important;
  background-color: #fff;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__trailing{
  border-width: 1px !important;
}
.dropdown .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing, 
.date .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing{
  border-radius: 0 7px 7px 0 !important;
}
.dropdown .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading, 
.date .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 7px 0 0 7px !important;
}
.cle_drop .mat-mdc-form-field-infix span {
  margin-right: 10px;
}
.cle_drop .mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}
.cle_drop .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.date.mat-mdc-form-field + span.error-message {
  padding-left: 0;
}

@media (max-width: 1366px){
  .cle_drop .mat-mdc-form-field-infix span.mat-mdc-select-min-line{
    font-size: 12px;
  }
  .cle_drop .mat-mdc-form-field-flex .mat-mdc-form-field-infix{
    width: 135px !important;
  }
}