<div class="w-full flex items-center flex-wrap xl:flex-nowrap pb-4 border-b border-t4">
    <div class="w-full lg:w-auto pb-2 lg:pb-0">
        <span class="icon-arrow-left text24 mr-3 cursor-pointer" [routerLink]="'/marks'"></span>
        <span class="text24">Print Marksheet</span>
    </div>
</div>
<div class="w-full py-1 lg:py-2 px-5 xl:px-7 bg-white rounded-md mt-4">
    <div class="flex items-center flex-wrap 2xl:flex-nowrap -mx-2">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Exam" [(ngModel)]="selectedExam">
                    <mat-option *ngFor="let item of examList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Class" [(ngModel)]="selectedClass">
                    <mat-option *ngFor="let item of classList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 2xl:w-full 2xl:max-w-[270px] p-2">
            <mat-form-field appearance="outline" class="w-full dropdown">
                <mat-select placeholder="Select Section" [(ngModel)]="selectedSection">
                    <mat-option *ngFor="let item of sectionList" [value]="item.value">{{item?.key}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="w-full relative py-6 xl:py-8">
    <div class="w-full relative">
        <div class="rounded-xl overflow-x-hidden lg:overflow-x-auto relative bg-white">
            <table mat-table matSort [dataSource]="couponData" class="h-full">
                <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Photo
                    </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                        <!-- <div class="w-8 xl:w-9 2xl:w-10 h-8 xl:h-9 2xl:h-10">
                      <p-image src="./assets/images/logo.png" imageClass="w-full h-full object-cover rounded-full" styleClass="w-full h-full" [preview]="true" (error)="imageOnError($event)"></p-image>
                    </div> -->
                        <div class="w-8 xl:w-9 2xl:w-10 h-8 xl:h-9 2xl:h-10"
                            *ngIf="!element?.banner || element?.banner == ''">
                            <p-image [src]="constants.defaultImage" imageClass="w-full h-full object-cover rounded-full"
                                styleClass="w-full h-full" [preview]="true" (error)="imageOnError($event)"></p-image>
                        </div>
                    </td>
                </ng-container>
                <!-- Size Name Column -->
                <ng-container matColumnDef="admsNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Adms.
                        No.</th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.admsNo}} </td>
                </ng-container>
                <!-- Size Name Column -->
                <ng-container matColumnDef="rollNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Roll
                        No. </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.rollNo}} </td>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="studentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Student
                        Name</th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.studentName}} </td>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">Class
                    </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.class}} </td>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="fatherName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Father
                        Name </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.fatherName}} </td>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Mobile
                        No. </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.mobileNo}} </td>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Gender
                    </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.gender}} </td>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5">
                        Address </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails"> {{element?.address}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap text16 bg-t5"> Action
                    </th>
                    <td mat-cell *matCellDef="let element"
                        class="whitespace-nowrap font-medium text16 text-t2 t_ditails">
                        <div class="flex space-x-3">
                            <span class="icon-eye block text-xl cursor-pointer hover:text-primary anim"
                                (click)="viewMarksheet(element)"></span>
                            <span class="block icon-print text-xl cursor-pointer text-error anim"></span>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="w-full">
                <div class="w-full flex justify-center p-5" *ngIf="couponData.length == 0">
                    <div class="max-w-8xl w-full rounded-2xl p-10 mx-auto bg-gray_2">
                        <strong class="block text-xl lg:text-2xl 2xl:text-4xl text-center"> No Homework Added </strong>
                        <span class="block lg:text-18 text-center text-t2"> Please add Homework first </span>
                    </div>
                </div>
            </div>
            <div class="w-full data_paginator flex justify-end mt-[-226px] pt-[250px] pb-2" *ngIf="couponData.length > 0">
              <p-paginator [first]="1" [rows]="limit" (onPageChange)="getAllCouponList($event)"  [totalRecords]="totalCoupon" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
             </div>
            <div *ngIf="isTableLoading"
                class="absolute inset-0 w-full h-full flex items-center justify-center bg-slate-300/30 backdrop-blur-sm z-10">
                <div class="flex flex-col items-center justify-center">
                    <div
                        class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-primary border-t-transparent">
                    </div>
                    <p class="block text-base font-medium pt-2">Plase wait</p>
                </div>
            </div>
        </div>
    </div>
</div>