<div class="w-full rounded-[50px]">
  <div class="w-full flex items-center">
    <span class="icon-arrow-left text24 mr-3 cursor-pointer" [routerLink]="'/branch'"></span>
    <span class="block text24 mr-5">{{couponId != "branchdetail" ? "Edit" : "Add"}} Create Branch</span>
    <!-- <button type="button" [routerLink]="'/branch'" class="flex items-center border-2 border-primary rounded-lg px-6 py-2 outline-none text-primary bg-white anim group ml-auto mr-5">
      <span class="text-base font-medium leading-[22px] text-primary bg-white anim">Cancel</span>
    </button> -->
    <button type="button" mat-flat-button (click)="onSubmitAction()" class="flex items-center border-2 border-primary rounded-lg px-5 py-4 outline-none bg-primary hover:bg-white ml-auto anim group">
      <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">Create New Branch</span>
      <span class="block" *ngIf="isBtnLoading">
        <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10" stroke-width="4"></circle> <path class="opacity-75 fill-white group-hover:fill-primary anim" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path> </svg>
      </span>
    </button>
  </div>
  <form class="flex flex-wrap coupon-form -mx-2.5 mt-6 xl:mt-8" #couponNgForm="ngForm" [formGroup]="productCouponForm" (ngSubmit)="onSubmitAction()">
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">Branch Name<span class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
      <input type="text" pInputText [formControlName]="'branch_name'" class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4" placeholder="Enter branch name">
      <span class="error-message" *ngIf="productCouponForm.get('branch_name').hasError('required') && (productCouponForm.get('branch_name').dirty || productCouponForm.get('branch_name').touched)">Branch Name is required.</span>
    </div>
    <div class="w-full lg:w-1/4 relative px-2.5 pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">School Name<span class="absolute top-0 text-red_1 text-[18] font-bold">&nbsp;*</span></label>
      <mat-form-field appearance="outline" class="w-full dropdown">
        <mat-select placeholder="Select School" [(ngModel)]="selectClass">
          <mat-option  *ngFor="let item of schoolsData; let i = index" [value]="item.value">
            <span class="text18 font-normal mr-2">{{item?.key}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="error-message" *ngIf="productCouponForm.get('schools').hasError('required') && (productCouponForm.get('schools').dirty || productCouponForm.get('schools').touched)">Please select any one School.</span>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">Email:<span class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
      <input type="text" pInputText [formControlName]="'email'" class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4" placeholder="Enter email" >
      <span class="error-message" *ngIf="productCouponForm.get('email').hasError('required') && (productCouponForm.get('email').dirty || productCouponForm.get('email').touched)">Email is required.</span>
      <span class="error-message" *ngIf="productCouponForm.get('email').hasError('pattern') && (productCouponForm.get('email').dirty || productCouponForm.get('email').touched)">Please enter valid Email.</span>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">Phone No.<span class="absolute top-0 text-red-600 text-[18] font-bold">&nbsp;*</span></label>
      <input type="text" pInputText [formControlName]="'phone'" class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4" placeholder="Enter phone no" >
      <span class="error-message" *ngIf="productCouponForm.get('phone').hasError('required') && (productCouponForm.get('phone').dirty || productCouponForm.get('phone').touched)">Phone is required.</span>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 relative pb-5 px-2.5 pt-0">
      <label for="item_name" class="block text16 text-gray_1 font-semibold pb-2">Address</label>
      <input type="text" pInputText [formControlName]="'address'" class="w-full text-16 xl:text-lg border border-t4 text-dark placeholder:text-t3 rounded-lg outline-none py-2 xl:py-3 px-4" placeholder="Enter address">
      <span class="error-message" *ngIf="productCouponForm.get('address').hasError('required') && (productCouponForm.get('address').dirty || productCouponForm.get('address').touched)">Address is required.</span>
    </div>

    <!-- <div class="w-full flex items-center justify-center">
      <button type="button" mat-flat-button (click)="onSubmitAction()" class="flex items-center border-2 border-primary rounded-lg px-6 py-2 outline-none bg-primary hover:bg-white anim group">
        <span class="text-base font-medium leading-[22px] text-white group-hover:text-primary anim">{{couponId != "coupondetail" ? "Edit" : "Add"}} Coupon</span>
        <span class="block" *ngIf="isBtnLoading">
          <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10" stroke-width="4"></circle> <path class="opacity-75 fill-white group-hover:fill-primary anim" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path> </svg>
        </span>
      </button>
    </div> -->
  </form>
</div>


