<div class="w-full max-w-4xl p-[30px] bg-white mx-auto rounded-3xl">
    <div class="text-right">
        <span class="icon-close text-20 text-error inline-block cursor-pointer" (click)="closeDailog()"></span>
    </div>
    <span class="text-24 font-bold text-dark mb-8 xl:mb-12 block text-center">Semester -1 Examination - 2024</span>
    <div class="flex flex-wrap sm:flex-nowrap justify-between space-y-1 sm:space-y-0">
        <ul class="w-full sm:w-auto space-y-1">
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-16 xl:w-24">Class</span>
                <span class="text16 text-t2 font-semibold">1</span>
            </li>
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-16 xl:w-24">Section</span>
                <span class="text16 text-t2 font-semibold">A</span>
            </li>
        </ul>
        <ul class="w-full sm:w-auto space-y-1">
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-10 xl:w-16">Date</span>
                <span class="text16 text-t2 font-semibold">08  Aug, 2024 - 20 Aug, 2024</span>
            </li>
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-10 xl:w-16">Date</span>
                <span class="text16 text-t2 font-semibold">09:00 PM - 12:00 PM</span>
            </li>
        </ul>
    </div>
    <div class="w-full overflow-x-auto overflow-hidden mt-8 xl:mt-12">
        <table class="w-full text-left bg-white custome_table z-20 border-collapse border border-t5">
          <tr>
            <th class="text16 p-4 text-primary font-semibold pl-6 xl:pl-9 bg-t5 whitespace-nowrap">Date</th>        
            <th class="text16 p-4 text-primary font-semibold bg-t5 whitespace-nowrap">Time</th>
            <th class="text16 p-4 text-primary font-semibold bg-t5">Max. Marks</th>
            <th class="text16 p-4 text-primary font-semibold bg-t5">Room No.</th>
            <th class="text16 p-4 text-primary font-semibold bg-t5">Subject code</th>
            <th class="text16 p-4 text-primary font-semibold bg-t5">Subject</th>
          </tr>
          <tr class="py-4 border-b boredr-t4">
            <td class="p-4 pl-6 xl:pl-9">
                <span class="text16 text-t2 font-medium">08 Aug, 2024</span>
            </td>
            <td class="p-4">
            <span class="text16 text-t2 font-medium">09:00 PM - 12:00 PM</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">100</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">0.5</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">01</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">English</span>
            </td>
          </tr>
          <tr class="py-4 border-b boredr-t4">
            <td class="p-4 pl-6 xl:pl-9">
                <span class="text16 text-t2 font-medium">08 Aug, 2024</span>
            </td>
            <td class="p-4">
            <span class="text16 text-t2 font-medium">09:00 PM - 12:00 PM</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">100</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">0.5</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">01</span>
            </td>
            <td class="p-4">
                <span class="text16 text-t2 font-medium">English</span>
            </td>
          </tr>
        </table>
      </div>
</div>
