<div class="w-full max-w-4xl p-[30px] bg-white mx-auto rounded-xl">
    <div class="text-right">
        <span class="icon-close text24 text-error inline-block"></span>
    </div>
    <span class="text-24 font-bold text-dark mb-8 xl:mb-12 block text-center">Semester -1 Examination - 2024</span>
    <div class="flex flex-wrap sm:flex-nowrap justify-between space-y-1 sm:space-y-0">
        <ul class="w-full sm:w-auto space-y-1">
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-16 xl:w-24">Class</span>
                <span class="text16 text-t2 font-semibold">1</span>
            </li>
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-16 xl:w-24">Section</span>
                <span class="text16 text-t2 font-semibold">A</span>
            </li>
        </ul>
        <ul class="w-full sm:w-auto space-y-1">
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-10 xl:w-16">Date</span>
                <span class="text16 text-t2 font-semibold">08  Aug, 2024 - 20 Aug, 2024</span>
            </li>
            <li class="flex items-center space-x-5">
                <span class="text18 text-dark font-bold block w-10 xl:w-16">Date</span>
                <span class="text16 text-t2 font-semibold">09:00 PM - 12:00 PM</span>
            </li>
        </ul>
    </div>
</div>
